<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity.LoginRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Misc.LoginTabFragment"
            android:exported="false" />
        <activity
            android:name=".Misc.SignupTabFragment"
            android:exported="false" />
        <activity
            android:name=".ItemsActivity.StockActivity"
            android:exported="false" />
        <activity
            android:name=".Misc.MainViewModel"
            android:exported="false" />
        <activity
            android:name=".MainActivity.ProductFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity.StockFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity.ManagementActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ItemsActivity.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity.SalesActivity"
            android:exported="false" />
        <activity
            android:name=".Misc.NavActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemsActivity.StockModelActivity" />
        <activity android:name=".MainActivity.ProfileActivity" />
    </application>

</manifest>